body {
  margin: 0;
  background-color: #0d0d0d;
  font-family: sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
